
ErrorDocument 404 /404.php
DirectoryIndex index.php

# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:aPyLuJuhyd
#RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?openbullet.store/.*$      [NC]
#RewriteRule .*\.(jpg|jpeg|gif|png|bmp|tiff|avi|mpeg|mpg|wma|mov|zip|rar|exe|mp3|pdf|swf|psd|txt|html|htm|php)$ https://openbullet.store/403.html [R,NC]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aPyLuJuhyd:HOTLINKID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:apeVeV
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE apeVeV:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:nyhuVy
ErrorDocument 404 /404.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE nyhuVy:ERRORPAGEID




